body {
    background-color: rgb(17, 243, 187); /*Pode escolher outra cor se quiser*/
  }
  
  h1 {
    color: rgb(224, 9, 9); /*Pode escolher outra cor se quiser*/
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }